html, body {
  margin: 0;
  padding: 0;
  width:100vw;
  height:100vh;
  overflow-y: hidden; 
}
@font-face{
  font-family: "Italiana";
  src: url("fonts/Italiana-Regular.ttf");
}
@font-face{
  font-family: "Rubik";
  src: url("fonts/Rubik.ttf");
}
h1,h2,h3{
  font-family: "Italiana";
}
a{
  text-decoration: none;
}
body{
  background: url("img/bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center ;
}

  /**** PAGINAS ABOUT E GENERATE ****/
#content{ 
  height: 100vh;
  width:100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.conteudo ul li img{
  width:40%;
  padding-bottom: 2%;
}

#container{
  padding: 4% 4%;
  border:2px solid black;
  border-radius: 50px;
}
#container p{
  font-family: "Rubik";
}
#container h1{
  font-family: "Rubik";
}
#container h1{
  color: black;
  cursor: pointer;
}
ul{
  padding-left: 0;
}
