

canvas {
  display: block;
}
body{
  background: url("img/bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center ;
}

#title-main{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#title-main #navigate{
  width:20%;
  display: flex;
  justify-content: space-between;

}
#title-main #navigate h1{
  color:black;
  cursor: pointer;
}
#title-main #navigate h1:hover{
  text-decoration: underline;
}


